body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#front{
    margin-right: 300px;
}

main {
    padding: 20px;
    color: #333;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

p {
    line-height: 1.5;
}

footer{
    width: 100vw;
    background-color: lightcyan;
    height: 100px;
    margin-top: 100px;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #555;
}

.animations {
    display: flex;
    justify-content: center;
    
}

#blok{
    text-align: center;
}

.animation-container{
    margin-left: 45vw;
    margin-top: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    margin: 10px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}


@keyframes scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

.flash {
    animation: flashAnimation 1s infinite alternate;
}

@keyframes flashAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animation {
    width: 500px;
    height: 100px;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
