body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/rick-rothenberg-EcLkjpd6eZ4-unsplash.jpg');
    background-size: 80vw,80vh;
    animation: beweegAchtergrond 50s infinite linear;
}

header {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.interactive-box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
}

.interactive-box:hover {
    background-color: lightgreen;
}

footer {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animation-container {
    display: none;
    text-align: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.smiley {
    width: 100px;
    height: 100px;
    animation: rotate 0.9s linear infinite;
}

@keyframes beweegAchtergrond {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}



/* Telefoon en kleiner */
@media screen and (max-width: 767px) {
    body {
        background-size: contain;
    }
    header h1 {
        font-size: 24px;
    }
    section {
        display: block;
        text-align: center;
    }
    .interactive-box {
        width: 100%;
    }
}
